doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src="javascripts/login.js")
    script()
  body
    h1 Login page 
    div.container 
        form(id="loginForm" action="/api/user/login" method="POST")
            div
                label(for="email") Email:
                input(type="email" name="email" required)
            div
                label(for="password") Password:
                input(type="password" name="password" required)
            div
                input(type="submit" value="Register") 